
Requests I've made
<% current_user.bookings.each do |booking| %>
  <a href='/profile/requests/made/<%= booking.id %>'><%= booking.listing.name%></a>
  <%='Booking confirmed' if booking.confirmed %>
  <%='Booking rejected' if booking.rejected %>
<% end %>

Requests I've received
<% current_user.listings.bookings.select { |booking| booking.rejected == false }.each do |booking| %>
  <a href='/profile/requests/received/<%=booking.id %>'>
    <%= booking.listing.name %>
  </a>
    <%= 'Booking confirmed' if booking.confirmed == true %>
<% end %>
