<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' type='text/css' href='/main.css'>
    <link href="https://fonts.googleapis.com/css?family=Nixie+One|Hind|Emblema+One|Dosis" rel="stylesheet">
  </head>

Requests I've made
<% current_user.bookings.each do |booking| %>
  <a href='/profile/requests/made/<%= booking.id %>'><%= booking.listing.name%></a>
  <%='Booking confirmed' if booking.confirmed %>
  <%='Booking rejected' if booking.rejected %>
<% end %>

Requests I've received
<% current_user.listings.bookings.select { |booking| booking.rejected == false }.each do |booking| %>
  <a href='/profile/requests/received/<%=booking.id %>'>
    <%= booking.listing.name %>
  </a>
    <%= 'Booking confirmed' if booking.confirmed == true %>
<% end %>

