<%= current_user.first_name %>

Requests I've made
<% current_user.bookings.each do |booking| %>
  <%= booking.listing.name %>
  <%='Booking confirmed' if booking.confirmed %>
  <%='Booking rejected' if booking.rejected %>
<% end %>

Requests I've received
<% current_user.listings.bookings.each do |booking| %>
  <%= booking.listing.name %>
  <% if booking.confirmed == false %>
       <form method ='post'>
         <button formaction = '/profile/requests/confirm' value='Confirm booking'>Confirm booking</button>
         <button formaction = '/profile/requests/reject' value='Reject booking'>Reject booking</button>
         <input type='hidden' name='booking_id' value='<%=booking.id%>'/>
       </form>
  <% elsif booking.confirmed == true %>

    Booking confirmed.
  <% end %>
<% end %>
