
<div class='col-12'>
<div class='container'>
    <h1> Listings </h1>
        <% @listings.each do |list|%>
        <div class='listing_box'>
          <h2>
            <%= list.name %>
          </h2>
          <h4>
            Description: <%= list.description%>
          </h4>
          <h4>
            Price per night: <%= list.price%>
          </h4>
      </div>
        <%end%>
</div>
</div>

<div class='rowSec'>
  <div class='col-12'>
      <% if flash[:logged_in_warning]%>
      <div class='alert logged_in_warning' id="logged_in_warning">
        <span class="closebtn">&times;</span>
          <%= flash[:logged_in_warning]%>
        </div>
      <% end %>

      <% if flash[:log_out_notice]%>
        <div class='alert log_out_notice' id="log_out_notice">
          <span class="closebtn">&times;</span>
          <%= flash[:log_out_notice]%>
        </div>
      <% end %>

      <% if flash[:listing_error] %>
        <div class='alert listing_error' id="listing_error">
          <span class="closebtn">&times;</span>
          <%= error %>
        </div>
      </div>
      <% end %>
    </div>

    <script>
    var close = document.getElementsByClassName("closebtn");
    var i;

    for (i = 0; i < close.length; i++) {
      close[i].onclick = function(){
        var div = this.parentElement;
        div.style.opacity = "0";
        setTimeout(function(){ div.style.display = "none"; }, 600);
      }
    }
    </script>

    </div>
  </div>
</div>
