<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' type='text/css' href='/main.css'>
    <link href="https://fonts.googleapis.com/css?family=Nixie+One|Hind|Emblema+One" rel="stylesheet">
  </head>

<div class='rowSec'>
    <%if current_user %>
    <div class='col-5' id='name'>
      <div class='alert name' id='name'>
        Hello, <%=current_user.first_name%>
      </div>
    </div>

  <div class='col-7 flow_buttons'>
    <form action="/apartments/new">
      <input class='button' id='add_property' type="submit" value="Add a property">
    </form>
    <form action="/requests">
      <input class='button' type='submit' value='Requests'>
    </form>
    <form action="/sessions" method="post">
      <input type="hidden" name="_method" value="delete">
    <input class='button' id='log_out' type="submit" value="Log out">
    </form>
  </div>
  <%else%>
  <div class='col-12 flow_buttons'>
    <form action="/sessions/new">
      <input class='button' type="submit" value="Sign in">
    </form>
    <form action="/users/new">
      <input class='button' type="submit" value="Sign up">
    </form>
  </div>
<% end %>
</div>

    <div class='container'>
      <h1> Listings </h1>
          <% @listings.each do |list|%>
          <div class='listing_box'>
            <h2>
              <%= list.name %>
            </h2>
            <h4>
              Description: <%= list.description%>
            </h4>
            <h4>
              Price per night: <%= list.price%>
            </h4>
        </div>
          <%end%>
    </div>


<div class='rowSec'>
  <div class='col-12'>
    <div class='alert_container'>
      <% if flash[:logged_in_warning]%>
      <div class='alert logged_in_warning' id="logged_in_warning">
        <span class="closebtn">&times;</span>
          <%= flash[:logged_in_warning]%>
        </div>
        <% end %>

      <% if flash[:log_out_notice]%>
        <div class='alert log_out_notice' id="log_out_notice">
          <span class="closebtn">&times;</span>
          <%= flash[:log_out_notice]%>
        </div>
        <% end %>

      <% if flash[:listing_error] %>
        <div class='alert listing_error' id="listing_error">
          <span class="closebtn">&times;</span>
          <%= error %>
        </div>
        <% end %>
      </div>
  </div>
</div>

    <script>
    var close = document.getElementsByClassName("closebtn");
    var i;

    for (i = 0; i < close.length; i++) {
      close[i].onclick = function(){
        var div = this.parentElement;
        div.style.opacity = "0";
        setTimeout(function(){ div.style.display = "none"; }, 600);
      }
    }
    </script>

    </div>
  </div>
</div>
</html>
